/**:
  controller_manager:
    ros__parameters:
      update_rate: 500  # Hz

      # Standard UR controllers
      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      io_and_status_controller:
        type: ur_controllers/GPIOController

      speed_scaling_state_broadcaster:
        type: ur_controllers/SpeedScalingStateBroadcaster

      force_torque_sensor_broadcaster:
        type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster

      tcp_pose_broadcaster:
        type: pose_broadcaster/PoseBroadcaster

      # Trajectory controllers
      joint_trajectory_controller:
        type: joint_trajectory_controller/JointTrajectoryController

      scaled_joint_trajectory_controller:
        type: ur_controllers/ScaledJointTrajectoryController

      # Standard UR forward controllers
      forward_velocity_controller:
        type: velocity_controllers/JointGroupVelocityController

      forward_effort_controller:
        type: effort_controllers/JointGroupEffortController

      forward_position_controller:
        type: position_controllers/JointGroupPositionController

      # UR-specific controllers
      force_mode_controller:
        type: ur_controllers/ForceModeController

      freedrive_mode_controller:
        type: ur_controllers/FreedriveModeController

      passthrough_trajectory_controller:
        type: ur_controllers/PassthroughTrajectoryController

      ur_configuration_controller:
        type: ur_controllers/URConfigurationController

      tool_contact_controller:
        type: ur_controllers/ToolContactController

      # CRISP controllers
      twist_broadcaster:
        type: crisp_controllers/TwistBroadcaster

      pose_broadcaster:
        type: crisp_controllers/PoseBroadcaster

      gravity_compensation:
        type: crisp_controllers/CartesianController

      cartesian_impedance_controller:
        type: crisp_controllers/CartesianController

      joint_impedance_controller:
        type: crisp_controllers/CartesianController

      enforce_command_limits: false

speed_scaling_state_broadcaster:
  ros__parameters:
    state_publish_rate: 100.0
    tf_prefix: ""

io_and_status_controller:
  ros__parameters:
    tf_prefix: ""

ur_configuration_controller:
  ros__parameters:
    tf_prefix: ""

force_torque_sensor_broadcaster:
  ros__parameters:
    sensor_name: tcp_fts_sensor
    state_interface_names:
      - force.x
      - force.y
      - force.z
      - torque.x
      - torque.y
      - torque.z
    frame_id: tool0
    topic_name: ft_data

tcp_pose_broadcaster:
  ros__parameters:
    frame_id: base
    pose_name: tcp_pose
    tf:
      child_frame_id: tool0_controller

joint_trajectory_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.2
      goal_time: 0.0

scaled_joint_trajectory_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.2
      goal_time: 0.0
    speed_scaling_interface_name: speed_scaling/speed_scaling_factor

forward_effort_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    interface_name: effort

forward_velocity_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    interface_name: velocity

forward_position_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    interface_name: position

joint_state_broadcaster:
  ros__parameters:
    use_local_topics: False

twist_broadcaster:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    end_effector_frame: tool0
    base_frame: base_link

pose_broadcaster:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    end_effector_frame: tool0
    base_frame: base_link

gravity_compensation:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    end_effector_frame: tool0
    base_frame: base_link
    task:
      k_pos_x: 0.0
      k_pos_y: 0.0
      k_pos_z: 0.0
      k_rot_x: 30.0
      k_rot_y: 30.0
      k_rot_z: 30.0
    nullspace:
      stiffness: 0.0
    use_friction: true
    use_coriolis_compensation: true
    use_local_jacobian: true

joint_impedance_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    end_effector_frame: tool0
    base_frame: base_link
    task:
      k_pos_x: 0.0
      k_pos_y: 0.0
      k_pos_z: 0.0
      k_rot_x: 0.0
      k_rot_y: 0.0
      k_rot_z: 0.0
    max_delta_tau: 0.5
    nullspace:
      stiffness: 90.0
      projector_type: none
      damping: 35.0
      max_tau: 1200.0
      regularization: 1.0e-06
      weights:
        shoulder_pan_joint.value: 300.0
        shoulder_lift_joint.value: 300.0
        elbow_joint.value: 300.0
        wrist_1_joint.value: 300.0
        wrist_2_joint.value: 300.0
        wrist_3_joint.value: 300.0
    use_friction: false
    use_coriolis_compensation: false
    use_local_jacobian: true
    limit_error: true
    limit_torques: true

cartesian_impedance_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    end_effector_frame: tool0
    base_frame: base_link
    filter:
      q: 0.5
      dq: 0.5
      output_torque: 0.5
    task:
      k_pos_x: 600.0
      k_pos_y: 600.0
      k_pos_z: 600.0
      k_rot_x: 0.0
      k_rot_y: 0.0
      k_rot_z: 0.0
    nullspace:
      stiffness: 0.0
      damping: 0.0
    use_friction: false
    use_coriolis_compensation: true
    use_local_jacobian: true
    limit_torques: false
